<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Acerca de-victor code</title>
    {% load static %}
	<link rel="stylesheet" href=" {% static 'coreappstatic/css/bootstrap.min.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'coreappstatic/css/fontello.css'%}">
	<link rel="stylesheet" href="{% static 'coreappstatic/css/styles.css'%}">

</head>

<body>
	<header>
		<div class="container">
			<!-- Logo Nombre y Menu -->
			<div class="nav row rounded-top align-items-stretch justify-content-between">
				<!-- Nombre de usuario -->
				<div
					class="col-md-12 col-lg logo d-flex align-items-center justify-content-center justify-content-lg-start">
					<a class="nombre" href="index.html">victor code</a>
					<samp class="icono icon-dot"></samp>
					<p>Diseño Grafico</p>
				</div>
				<!-- Menu de navegación -->
				<nav class="col-md-12 col-lg-auto menu d-flex align-items-stretch flex-wrap flex-sm-nowrap">
					<a href="index.html" class="c-1 d-flex align-items-center">
						<div class="d-flex flex-column text-center">
							<span>Portafolio</span>
							<i class="icono icon-briefcase"></i>
						</div>
					</a>
					<a href="about.html" class="c-2 d-flex align-items-center">
						<div class="d-flex flex-column text-center">
							<span>Acerca de</span>
							<i class="icono icon-user"></i>
						</div>
					</a>
					<a href="contact.html" class="c-3 d-flex align-items-center">
						<div class="d-flex flex-column text-center">
							<span>Contacto</span>
							<i class="icono icon-mail"></i>
						</div>
					</a>
				</nav>
			</div>

			<!--imagen de Cabecera -->
			<div class="row slider">
				<div class="col">
					<img src="img/about-img.jpg" class="w-100" alt="Responsive image">
				</div>
			</div>
		</div>
	</header>

	<!--Contenido-->
	<main>
		<!--Acerca de - contenido -->
		<div class="container">
			<div class="row contenedor">
				<div class="col">
					<h2 class="titulo">Acerca de victor code</h2>
					<div class="row projects justify-content-center">
						<div class="col-12 col-lg-3 col-md-3">
							<img src="img/user-img.jpg" class="rounded-circle w-100" alt="...">
							<hr>
							<p class="text-center">victor code</p>
							<hr>
						</div>
						<div class="col-12 col-lg-9 col-md-9">
							<h5 class="title-project">victor code</h5>
							<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
								sollicitudin.
								Cras
								purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
								nisi
								vulputate fringilla. Donec lacinia congue felis in faucibus.
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
								sollicitudin.
								Cras
								purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
								nisi
								vulputate fringilla. Donec lacinia congue felis in faucibus.

							</p>

							<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
								sollicitudin.
								Cras
								purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
								nisi
								vulputate fringilla. Donec lacinia congue felis in faucibus.
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
								sollicitudin.
								Cras
								purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
								nisi
								vulputate fringilla. Donec lacinia congue felis in faucibus.

							</p>
						</div>
					</div>

					<h2 class="titulo">Conosimientos Profesionales</h2>
					<div class="row justify-content-center">
						<div class="col-12 col-lg-3 col-md-3">
							<p class="label text-center">PHOTOSHOP</p>
						</div>
						<div class="col-12 col-lg-9 col-md-9">
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95"
									aria-valuemin="0" aria-valuemax="100">95%</div>
							</div>
						</div>

						<div class="col-12 col-lg-3 col-md-3">
							<p class="label text-center">ILLUSTRATOR</p>
						</div>
						<div class="col-12 col-lg-9 col-md-9">
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90"
									aria-valuemin="0" aria-valuemax="100">90%</div>
							</div>
						</div>

						<div class="col-12 col-lg-3 col-md-3">
							<p class="label text-center">ADOBE PRIMIERE</p>
						</div>
						<div class="col-12 col-lg-9 col-md-9">
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 97%;" aria-valuenow="97"
									aria-valuemin="0" aria-valuemax="100">97%</div>
							</div>
						</div>

						<div class="col-12 col-lg-3 col-md-3">
							<p class="label text-center">COREL DRAW</p>
						</div>
						<div class="col-12 col-lg-9 col-md-9">
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 97%;" aria-valuenow="97"
									aria-valuemin="0" aria-valuemax="100">97%</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!--Piede Pagina Footer -->
	<footer>
		<div class="container">
			<div class="row redes-sociales justify-content-center">
				<div class="col-auto">
					<a href="#" class="icono icon-facebook facebook"></a>
					<a href="#" class="icono icon-twitter twitter"></a>
					<a href="#" class="icono icon-instagram instagram"></a>
				</div>
				<div class="col-12 text-center copyright">
					<samp>
						<p>Copyright &copy; 2019 · victor code (Diseñador Grafico) </p>
					</samp>
				</div>
			</div>

		</div>
	</footer>

	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/scripts.js"></script>
</body>

</html>