<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>victor code-Portafolio</title>

    {% load static %}
	<link rel="stylesheet" href=" {% static 'coreappstatic/css/bootstrap.min.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'coreappstatic/css/fontello.css'%}">
	<link rel="stylesheet" href="{% static 'coreappstatic/css/styles.css'%}">

</head>

<body>
	<header>
		<div class="container">
			<!-- Logo Nombre y Menu -->
			<div class="nav row rounded-top align-items-stretch justify-content-between">
				<!-- Nombre de usuario -->
				<div
					class="col-md-12 col-lg logo d-flex align-items-center justify-content-center justify-content-lg-start">
					<a class="nombre" href="index.html">Carlos Masuchi</a>
					<samp class="icono icon-dot"></samp>
					<p>Diseño Grafico</p>
				</div>
				<!-- Menu de navegación -->
				<nav class="col-md-12 col-lg-auto menu d-flex align-items-stretch flex-wrap flex-sm-nowrap">
					<a href="index.html" class="c-1 d-flex align-items-center">
						<div class="d-flex flex-column text-center">
							<span>Portafolio</span>
							<i class="icono icon-briefcase"></i>
						</div>
					</a>
					<a href="about.html" class="c-2 d-flex align-items-center">
						<div class="d-flex flex-column text-center">
							<span>Acerca de</span>
							<i class="icono icon-user"></i>
						</div>
					</a>
					<a href="contact.html" class="c-3 d-flex align-items-center">
						<div class="d-flex flex-column text-center">
							<span>Contacto</span>
							<i class="icono icon-mail"></i>
						</div>
					</a>
				</nav>
			</div>

			<!--Slider -->
			<div class="row slider">
				<div class="col">
					<div class="carousel slide" id="slider" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider" data-slide-to="0" class="active"></li>
							<li data-target="#slider" data-slide-to="1"></li>
							<li data-target="#slider" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="{% static 'coreappstatic/img/slide1.jpg' %}" class="d-block w-100" alt="Slide#1">
							</div>
							<div class="carousel-item">
								<img src="{% static 'coreappstatic/img/slide2.jpg' %}" class="d-block w-100" alt="Slide#1">
							</div>
							<div class="carousel-item">
								<img src="{% static 'coreappstatic/img/slide3.jpg' %}" class="d-block w-100" alt="Slide#1">
							</div>
						</div>

						<a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Anterior</span>
						</a>
						<a class="carousel-control-next" href="#slider" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Siguiente</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!--Contenido-->
	<main>
		<!--Portafolios contenido -->
		<div class="container">
			<div class="row contenedor">
				<div class="col">
					<h2 class="titulo">Portafolio</h2>
					<div class="row projects justify-content-center">
						<div class="content-project col-12 col-lg-4 col-md-4">
							<a href="" data-toggle="modal" data-target="#modal">
								<img src="{% static 'coreappstatic/img/bg.jpg'%}" class="img-fluid" alt="...">
							</a>
						</div>
						<div class="content-project col-12 col-lg-8 col-md-8">
							<h5 class="title-project">List-based media object</h5>
							<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
								Cras
								purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
								vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
							<a href="#" class="btn link-project">Mas Información</a>
						</div>

						<div class="content-project col-12 col-lg-4 col-md-4">
							<a href="" data-toggle="modal" data-target="#modal">
								<img src="{% static 'coreappstatic/img/bg2.jpg'%}" class="img-fluid" alt="...">
							</a>
						</div>
						<div class="content-project col-12 col-lg-8 col-md-8">
							<h5 class="title-project">List-based media object</h5>
							<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
								Cras
								purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
								vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
						</div>

						<!-- Ventana Modal -->
						<div class="modal fade" id="modal">
							<div class="modal-dialog d-flex justify-content-center align-items-center">
								<div class="modal-content">
									<img src="{% static 'coreappstatic/img/bg.jpg'%}" id="imagen-modal" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!--Piede pagina -->
	<footer>
		<div class="container">
			<div class="row redes-sociales justify-content-center">
				<div class="col-auto">
					<a href="#" class="icono icon-facebook facebook"></a>
					<a href="#" class="icono icon-twitter twitter"></a>
					<a href="#" class="icono icon-instagram instagram"></a>
				</div>
				<div class="col-12 text-center copyright">
					<samp>
						<p>Copyright &copy; 2019 · Carlos Masuchi (Diseñador Grafico) </p>
					</samp>
				</div>
			</div>

		</div>
	</footer>

	<script src="{% static 'coreappstatic/js/jquery-3.4.1.min.js'%}"></script>
	<script src="{% static 'coreappstatic/js/popper.min.js'%}"></script>
	<script src="{% static 'coreappstatic/js/bootstrap.min.js'%}"></script>
	<script src="{% static 'coreappstatic/js/scripts.js'%}"></script>
</body>

</html>