<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'blogstatic/css/estilos.css' %}">
    
</head>
<body>
    
        <h1>BLOGS PUTOS</h1>
        
        <div class="card">
        <h3>{{blog.tittle}}</h3>
        <p>{{blog.content}}</p>
        <br>
        {%load static%}
            <img src="{%static '{{blog.image}}' %}" alt="img1">
            <br>
        
        
        <a href="{{blog.id}}">LEER MÁS</a>
        <p> modificado en:<b> {{blog.release_date}}</b> </p>
    </div>
        
        
    
    
    
    <br>
    <a href="/home">INICIO</a> <br>
    <a href="/admin">ADMIN</a>
</body>
</html>