<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'blogstatic/css/estilos.css' %}">
    
</head>
<body>
    
        <h1>HOME</h1>
        <!-- {{blogList}} -->
        {% for blog in blogList %}
        <div class="card">
        <h3>{{blog.tittle}}</h3>
        <p>{{blog.content}}</p>
        <a href="blog/{{blog.id}}">LEER MÁS</a>
        <p> creado el:<b> {{blog.created}}</b> </p>
    </div>
        {% endfor %}
        
    
    
    
    <br>
    <a href="/admin">ADMIN</a>
</body>
</html>